<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>卖二手车辣</title>

	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>

<body>
  	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  		<!-- Indicators -->
  		<ol class="carousel-indicators">
  			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
  			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
  			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
  			<li data-target="#carousel-example-generic" data-slide-to="3"></li>
  			<li data-target="#carousel-example-generic" data-slide-to="4"></li>
  		</ol>

  		<!-- Wrapper for slides -->
  		<div class="carousel-inner" role="listbox">
  			<div class="item active">
  				<img src="img/car1.jpg">
  			</div>
  			<div class="item">
  				<img src="img/car1.jpg">
  			</div>
  			<div class="item">
  				<img src="img/car1.jpg">
  			</div>
  			<div class="item">
  				<img src="img/car1.jpg">
  			</div>
  			<div class="item">
  				<img src="img/car1.jpg">
  			</div>
  		</div>

  		<!-- Controls -->
  		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
  			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  			<span class="sr-only">Previous</span>
  		</a>
  		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
  			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  			<span class="sr-only">Next</span>
  		</a>
	</div>
	  
  	<!-- 功能模块 -->
  	<div class="row div_function">
  		<div class="col-xs-4">
  			<div class="panel panel-default" id="pFunc1">
  				<div class="panel-body" style="cursor: pointer;">
  					<strong><p class='panel_p'>汽车店铺</p></strong>
  					<img class="iv_function" src="img/buycar.png">
  				</div>
  			</div>
  		</div>
  		<div class="col-xs-4">
  			<div class="panel panel-default"  id="pFunc2">
  				<div class="panel-body" style="cursor: pointer;">
  					<strong><p class='panel_p'>查看订单</p></strong>
  					<img class="iv_function" src="img/user_order.png">
  				</div>
  			</div>
  		</div>
  		<div class="col-xs-4">
  			<div class="panel panel-default"  id="pFunc3">
  				<div class="panel-body" style="cursor: pointer;">
  					<strong><p class='panel_p'>个人信息</p></strong>
  					<img class="iv_function" src="img/user_info.png">
  				</div>
  			</div>
  		</div>
	</div>
	  

  	<div class="container div_divider">
  		<div class="row">
  			<!-- 文章列表 -->
  			<div class="col-xs-9">
  				<div class="list-group div_article" id='CarInfo'>
  					<!-- 子头栏 -->
  					<div class="list-group-item active item_article_first">
  						<h3 class="list-group-item-heading">
  							最好的二手车售卖网站
  						</h3>
					</div>
  					<!-- 汽车列表 -->
  					<div class="list-group-item item_article">
  						<div class="row">
  							<div class="div_center col-xs-9">
  								<div class="lpist-group-item-heading div_article_title">
  									<strong>
  										<a :href="'carinfo.html?car_id='+car_id1">{{car_model1}}</a>
  									</strong>
  								</div>
  								<p class="list-group-item-text div_article_content">
									{{car_intro1}}
  								</p>
  							</div>
  							<!-- 右侧图片信息 -->
  							<div class="col-xs-3 div_right_info">
  								<img class="iv_article img-rounded" :src="car_img1">
  							</div>
  						</div>
					</div>
					  
					<div class="list-group-item item_article">
						<div class="row">
							<div class="div_center col-xs-9">
								<div class="lpist-group-item-heading div_article_title">
									<strong>
										<a :href="'carinfo.html?car_id='+car_id2">{{car_model2}}</a>
									</strong>
								</div>
								<p class="list-group-item-text div_article_content">
									{{car_intro2}}
								</p>
							</div>
							<!-- 右侧图片信息 -->
							<div class="col-xs-3 div_right_info">
								<img class="iv_article img-rounded" :src="car_img2">
							</div>
						</div>
				   </div>

				   <div class="list-group-item item_article">
						<div class="row">
							<div class="div_center col-xs-9">
								<div class="lpist-group-item-heading div_article_title">
									<strong>
										<a :href="'carinfo.html?car_id='+car_id3">{{car_model3}}</a>
									</strong>
								</div>
								<p class="list-group-item-text div_article_content">
									{{car_intro3}}
								</p>
							</div>
							<!-- 右侧图片信息 -->
							<div class="col-xs-3 div_right_info">
								<img class="iv_article img-rounded" :src="car_img3">
							</div>
						</div>
					   </div>
					   
				
					   <div class="list-group-item item_article">
							<div class="row">
								<div class="div_center col-xs-9">
									<div class="lpist-group-item-heading div_article_title">
										<strong>
											<a :href="'carinfo.html?car_id='+car_id4">{{car_model4}}</a>
										</strong>
									</div>
									<p class="list-group-item-text div_article_content">
										{{car_intro4}}
									</p>
								</div>
								<!-- 右侧图片信息 -->
								<div class="col-xs-3 div_right_info">
									<img class="iv_article img-rounded" :src="car_img4">
								</div>
							</div>
					   </div>

					   <div style="margin-top: 20px;margin-left: 300px;">
							<button class="btn btn-success btn-sm" v-on:click="firstpage">首页</button>
							<button class="btn btn-info btn-sm" v-on:click="lastpage">上一页</button>
							<button class="btn btn-info btn-sm" v-on:click="nextpage">下一页</button>
					   </div>
  				</div>
			</div>
			  
  			<!-- 右侧 -->
  			<div class="col-xs-3 div_record" id="userInfoBlock">
  				<!-- 用户信息 -->
  				<div class="jumbotron div_userinfo">
  					<img class="iv_user_head img-circle" src="img/user_img.png">
  					<template><div style="display: inline-block; margin-left: 12px;font-size: 18px;">{{username}}</div></template>
  				</div>
  				
  				<div style="display: flex;">
  					<div style="flex: 1"><hr></div>
  					<div style="text-align: center;line-height: 48px;color: #34374C; font-size:20px;">用户信息</div>
  					<div style="flex: 1"><hr></div>
  				</div>
  				<div class='current_info'>
					<template><p>账户余额：{{user_balance}}</p></template>
					<template><p>邮箱：{{user_mail}}</p></template>
					<template><p>手机号：{{user_phone}}</p></template>
				</div>
  				<hr>
  				<!-- 小功能列表 -->
  				<div class="row div_little_func">
  					<div class="col-xs-4">
  						<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#loginModal">登录</button>
  					</div>
  					<div class="col-xs-4">
  						<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registerModal">注册</button>
					</div>
					<div class="col-xs-4">
						<button  v-on:click="logout" class="btn btn-danger btn-lg">登出</button>
					</div>
  				</div>
  			</div>
		  </div>
		

		<!-- 注册模态框 -->
		<div class="modal fade bs-example-modal-sm" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="modal-title" id="myModalLabel" style="text-align: center;">注册</div>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" style="padding: 12px;">
							<div class="form-group">
								<input type="text" class="form-control" autocomplete="new-password" v-model="register_input_usr" placeholder="用户名"> 
							</div>
							<div class="form-group">
								<input type="password" class="form-control" autocomplete="new-password" v-model="register_input_pwd" placeholder="密码">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" autocomplete="new-password" v-model="register_vinput_pwd" placeholder="确认密码">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" autocomplete="new-password" v-model="register_identity_num" placeholder="身份证号">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" autocomplete="new-password" v-model="register_real_name" placeholder="真实姓名">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" autocomplete="new-password" v-model="register_mail" placeholder="邮箱">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" autocomplete="new-password" v-model="register_phone" placeholder="手机号">
							</div>
						</form>
					</div>
					<div class="modal-footer" style="text-align: center;">
						<button v-on:click="register" type="button" class="btn btn-primary" style="width: 100%" id="registerbutton">register</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 登录模态框 -->
		<div class="modal fade bs-example-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="modal-title" id="myModalLabel" style="text-align: center;">登录</div>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" style="padding: 12px;">
							<div class="form-group">
								<input type="text" class="form-control" autocomplete="new-password" v-model="login_input_usr" placeholder="用户名">  	
							</div>
							<div class="form-group">
								<input type="password" class="form-control" autocomplete="new-password" v-model="login_input_pwd" placeholder="密码">
							</div>
						</form>
					</div>
					<div class="modal-footer" style="text-align: center;">
						<button  v-on:click="login" type="button" class="btn btn-primary" style="width: 100%" id="loginbutton">login</button>
					</div>
				</div>
			</div>
		</div>
		
  		
  	</div>
</body>
<script src="js/util.js"></script>
<script>
	//最上面那三个大按钮的页面跳转
	$('#pFunc1').on('click', function(){
		//这个地址后端要改的
		window.location.href = 'http://localhost:8080/index';
	});
	$('#pFunc2').on('click', function(){
		//这个地址后端要改的
		window.location.href = 'http://localhost:8080/userpage_order_info.html';
	});
	$('#pFunc3').on('click', function(){
		//这个地址后端要改的
		window.location.href ='http://localhost:8080/userpage_user_info';
	});


	/*下面这个实例是页面左边的车辆信息的实例，*/
	/*
		注意这里有个新的改动！！！
		传车辆信息时候需要传car_id，因为我才意识到一点就是你点击链接的话，后端必须要知道你点击的是哪个
		车辆的信息，所以需要传输一个car_id过去。
	*/
	var vm_carinfo = new Vue({
		el: '#CarInfo',
		/*一共有4组数据，每组的数据包括car_model,car_intro,car_img
		其中car_img可以正常传输了，但是刚开始你看到的都是不显示url的，这是正常的，需要你后端传img的url*/
		data:{
			car_model1:'车型1',
			car_intro1:'车辆信息介绍1',
			car_id1: 000,
			car_img1: '',
			car_model2:'车型2',
			car_intro2:'车辆信息介绍2',
			car_id2: 000,
			car_img2: '',
			car_model3:'车型3',
			car_intro3:'车辆信息介绍3',
			car_id3: 000,
			car_img3: '',
			car_model4:'车型4',
			car_intro4:'车辆信息介绍4',
			car_id4: 000,
			car_img4: '',
			//这个是页码，默认的页码是1,一页是4个车辆的信息，页码是n的话就给前端返回4n-4:4n的车辆数据就好
			page_num: 1
		},

		methods: {
			//定义一个函数，负责在翻页时候修改界面信息
			page_change: function(page_num){
				//这里的地址需要你改嗷
				axios.post('http://localhost:8080/carInfo_onPage',{
					//发过去page_num,然后根据不同的pagenum来返回信息
					page_num: page_num
				})
				.then(response =>{
					var datajson = response.data;
					//console.log(datajson);
					//可以用console.log打印一下数据看是否正确
					//下面进行赋值，注意datajson后面跟着的是键名，这个需要你自己改
					//注意改datajson的键名！！！！！！！！例如car_model3
					vm_carinfo.car_model1 = datajson.car_model1;
					vm_carinfo.car_model2 = datajson.car_model2;
					vm_carinfo.car_model3 = datajson.car_model3;
					vm_carinfo.car_model4 = datajson.car_model4;
					vm_carinfo.car_intro1 = datajson.car_intro1;
					vm_carinfo.car_intro2 = datajson.car_intro2;
					vm_carinfo.car_intro3 = datajson.car_intro3;
					vm_carinfo.car_intro4 = datajson.car_intro4;
					vm_carinfo.car_id1 = datajson.car_id1;
					vm_carinfo.car_id2 = datajson.car_id2;
					vm_carinfo.car_id3 = datajson.car_id3;
					vm_carinfo.car_id4 = datajson.car_id4;
					vm_carinfo.car_img1 = datajson.car_img1;
					vm_carinfo.car_img2 = datajson.car_img2;
					vm_carinfo.car_img3 = datajson.car_img3;
					vm_carinfo.car_img4 = datajson.car_img4;
				})
			},
			firstpage: function(){
				this.page_num = 1;
				this.$options.methods.page_change(this.page_num);
			},
			nextpage: function(){
				this.page_num += 1
				this.$options.methods.page_change(this.page_num)
			},
			lastpage: function(){
				if(this.page_num == 1){
					alert("已经是第一页了！");
				}else{
					this.page_num -= 1
					this.$options.methods.page_change(this.page_num)
				}
			}
		},

		/*传数据时候在下面这个created函数的axios里面就可以了，
		这里接收后端传过来的车辆信息数据，数据是json格式的，
		注意你需要改的是axios的地址和json包的参数，这里的地址是我测试时候的地址*/
		created: function(){
			axios.post('http://localhost:8080/carInfo_onPage',{
				//这里修改一下，我传递给你的是页码
				page_num: this.page_num
			})
			//下面这个箭头一定不能删掉，不然this的指向将不会是vue的实例
			.then(response => {
				var datajson = response.data;
				//可以用console.log打印一下数据看是否正确

				//下面进行赋值，注意datajson后面跟着的是键名，这个需要你自己改
				//注意改datajson的键名！！！！！！！！例如car_model3
				//你看到图片失效的情况是正常的，因为你没有返回图片的url，在后端改一改就好了
				this.car_model1 = datajson.car_model1;
				this.car_model2 = datajson.car_model2;
				this.car_model3 = datajson.car_model3;
				this.car_model4 = datajson.car_model4;
				this.car_intro1 = datajson.car_intro1;
				this.car_intro2 = datajson.car_intro2;
				this.car_intro3 = datajson.car_intro3;
				this.car_intro4 = datajson.car_intro4;
				this.car_id1 = datajson.car_id1;
				this.car_id2 = datajson.car_id2;
				this.car_id3 = datajson.car_id3;
				this.car_id4 = datajson.car_id4;
				this.car_img1 = datajson.car_img1;
				this.car_img2 = datajson.car_img2;
				this.car_img3 = datajson.car_img3;
				this.car_img4 = datajson.car_img4;
			})
		}
	})


	/*注册的Vue实例*/
	var vm_register = new Vue({
		el: '#registerModal',
		data:{
			register_input_usr : "",
			register_input_pwd : "",
			register_vinput_pwd : "",
			register_identity_num : "",
			register_real_name : "",
			register_mail : "",
			register_phone : "",
		},
		methods:{
			register: function(){
				if(this.register_input_usr=="" || this.register_input_pwd=="" || this.register_mail=="" || this.register_phone=="" || this.register_identity_num=="" || this.register_real_name==""){
					alert('输入不能为空！')
				}else if(this.register_input_pwd != this.register_vinput_pwd){
					alert('两次密码输入不一致！')
				}else{
					//用户状态，注册时直接置为1
					var user_status = 1;
					//这里的axios的post的地址需要你来改一下，注意注意！
					axios.post('http://localhost:8080/logon',{
						name: this.register_input_usr,
						password: this.register_input_pwd,
						identityNumber: this.register_identity_num,
						realName: this.register_real_name,
						email: this.register_mail,
						phone: this.register_phone,
						//user_status : user_status
					})
					.then(function (response) {
						//我偏就不要在这里设置cookie
						var response_num = response.data
						//后端返回1表示用户名已经存在，如果返回0就表示注册成功
						if(response_num == 1){
							alert('用户名已存在！');
						}else if(response_num == 0){
							alert('注册成功！');
							//下面跳转的网址你改一下，就改成主页就可以啦
							window.location.href = 'http://localhost:8080/index';
						}else{
							alert('服务器错误！');
						}
					})
					.catch(function (error) {
						console.log(error)
					})
				}
			}
		}
	})
	

	//登录的Vue实例
	var vm_login = new Vue({
		el: '#loginModal',
		data:{
			login_input_usr : "",
			login_input_pwd : "",
		},
		methods:{
			login: function(){
				//用户登录的时间
				var d = new Date();
				var login_date = d.toUTCString();

				//和上面一样，这里后端需要改一下这个axios的地址
				axios.post('http://localhost:8080/login',{
					name: this.login_input_usr,
					password: this.login_input_pwd,
					//login_date: login_date
				})
				.then(response => {
					//新的改变，注意下这里返回时候需要加上userid！！
					/*注意一下这里登录后，如果登录不成功，返回json{code:'1'}即可，
					  但是如果登录成功的话，返回的东西应该是
					  json{code:'0', user_balance:'xx', user_mail:'xx'...}等等这些用户的所有信息，因为cookie是页面共享的
					  所以后面我还要把cookie放到别的页面使用*/
					var response_code = response.data.code
					if(response_code == '1'){
						alert('用户名或密码错误！');
					}else if(response_code == '0'){
						//后端返回0，表示登录成功，成功之后就需要设置cookie,这里表示cookie设置7天，生效目录是服务器根目录
						//这里cookie增加了userid
						this.$cookies.set('userid', response.data.userid, '7d','/');
						this.$cookies.set('username', this.login_input_usr, '7d','/');
						this.$cookies.set('user_balance', response.data.user_balance, '7d','/');
						this.$cookies.set('user_mail', response.data.user_mail, '7d','/');
						this.$cookies.set('user_phone', response.data.user_phone, '7d','/');			
						//同样的，这个跳转地址也需要你改一下
						window.location.href = 'http://localhost:8080/index';
					}else{
						alert('服务器错误！');
					}
				})
				.catch(function (error) {
					console.log(error)
				})
			}
		}
	})
	

	/*下面这个是右边个人信息展示界面的实例*/
	var vm_userinfo = new Vue({
		el: '#userInfoBlock',
		data:{
			username : '未登录',
			user_balance : '未登录',
			user_mail : '未登录',
			user_phone : '未登录',
		},
		methods:{
			//登出
			logout: function(){
				this.$cookies.remove('userid');
				this.$cookies.remove('username');
				this.$cookies.remove('user_balance');
				this.$cookies.remove('user_mail');
				this.$cookies.remove('user_phone');
				//跳转到主页，这个后端也需要改路径
				window.location.href ='http://localhost:8080/index';
			}	
		},

		//实例创建之前的方法
		created:function(){
			//检查cookie是否存在
			if(this.$cookies.isKey('userid')){
				this.username = this.$cookies.get('username');
				this.user_balance = this.$cookies.get('user_balance');
				this.user_mail = this.$cookies.get('user_mail');
				this.user_phone = this.$cookies.get('user_phone');
			}
		}
	})
</script>
</html>