<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
 
    <title>用户中心</title>
    <!-- Bootstrap Core CSS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link href="css/bootstrap1.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/default-dark.css" id="theme" rel="stylesheet">
   
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">loading...</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                   
                        <!-- Logo text -->
                        <span>
                            <img src="img/logo.png" alt="homepage" class="dark-logo img-responsive" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-dark" href="userpage_user_info.html"><img src="img/user_img.png" alt="user" class="profile-pic" /></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                         <li style="width: 60%; margin-left: auto;margin-right: auto" > <img :src="avatar_bar" alt="user" class="img-circle img-thumbnail" /></li>
                        <!--#-->
                        <li> <a class="waves-effect waves-dark  text-center" aria-expanded="false"><span id= "user_name" class="hide-menu" style="font-size: 25px">{{username_bar}}</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="userpage_user_info.html" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">基本信息</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="userpage_order_info.html" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">我的订单</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="userpage_car_info.html" aria-expanded="false"><i class="mdi mdi-car"></i><span class="hide-menu">我的车辆</span></a></li>
                        
                    </ul>
                    <div class="text-center m-t-30">
                        <a href="userpage_user_info.html" class="btn waves-effect waves-light btn-info hidden-md-down">刷新</a>
                    </div>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-10 align-self-center">
                        <h3 class="text-themecolor">基本信息</h3>
                    </div>
                    <div class="col-md-2 align-self-center" id="logout_button">
                        <a v-on:click="logout" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down">注销</a>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row" id="usercard">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body" id="user_leftcard">
                                <center class="m-t-30"> <img class="img-circle" :src="avatar_left"  width="150" />
                                    <h4 class="card-title m-t-10">头像</h4>
                                    <h6 class="card-subtitle">{{username_left}}</h6>
                                    
                                </center>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-body" >
                                <form class="form-horizontal form-material">
                                    <div class="form-group">
                                        <label class="col-md-12"><strong>昵称</strong></label>
                                        <div class="col-md-12">
                                            <input type="text" :placeholder="username" class="form-control form-control-line" v-model = "username_upda">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12"><strong>邮箱</strong></label>
                                        <div class="col-md-12">
                                            <input type="email" :placeholder="user_email" class="form-control form-control-line" name="example-email" id="example-email" v-model = "useremail_upda">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12"><strong>密码</strong></label>
                                        <div class="col-md-12">
                                            <input type="password" value="password" class="form-control form-control-line" v-model = "password_upda">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label class="col-md-12"><strong>确认密码</strong></label>
                                        <div class="col-md-12">
                                            <input type="password" value="" class="form-control form-control-line" v-model = "password_upda_re">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12"><strong>电话</strong></label>
                                        <div class="col-md-12">
                                            <input type="text" :placeholder="phone" class="form-control form-control-line" v-model = "phone_upda">
                                        </div>
                                    </div>
                                  
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input v-on:click="update" class="btn btn-success" value="更新资料"></input>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-right">copyright © 2019 二手车交易 - support by  <a href="http://www.cssmoban.com/"  target="_blank">  www.cssmoban.com</a> </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
<script src="js/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>
</body>
<script>
	//左边导航栏的Vue实例，图片处理暂无
	var vm_bar_card = new Vue({
		el: "#sidebarnav",
		data: {
			avatar_bar: 'img/user_avatars_img/5.jpg',
			username_bar:'加载数据'
			//
		},
		created: function(){
			axios.post( 'http://localhost:8080/RequsetUserInfo',{
				//后端收到post_code=15表示要向界面传输部分用户的数据
				post_code : 15,
				
				user_id:  this.$cookies.get('userid')
			})
			
			.then(response => {
				
				//键名在表中已经列出
				var datajson = response.data;
//				this.avatar_bar = datajson.avatar;
				this.username_bar = datajson.user_name;
			})
		}
	})
	
	
	//注销
	var vm_logout = new Vue({
		el:"#logout_button",
		methods:{
			logout: function(){
                this.$cookies.remove('username');
                this.$cookies.remove('user_balance');
                this.$cookies.remove('user_mail');
                this.$cookies.remove('user_phone');
				this.$cookise.remove('userid');
                //跳转到主页，这个后端也需要改路径
                window.location.href ='http://localhost:8080/index';
            }   
		}
	})
	
	//右边的更多的用户细信息 暂无图像
	var vm_usercard = new Vue({
		el: "#usercard",
		data: {
			username_left: '加载数据',
			avatar_left: 'img/user_avatars_img/5.jpg',
			username:'加载数据',
			user_email:'加载数据',
			phone: '加载数据'
		},
		created: function(){
			axios.post('http://localhost:8080/RequsetInfo',{
				//后端收到post_code=20表示要向userpage界面传输完全的用户的数据，
				post_code : 20,
				user_id:  this.$cookies.get('userid')
				
			})
			//下面这个箭头一定不能删掉，不然this的指向将不会是vue的实例
			.then(response => {
				var datajson = response.data;
				//下面进行赋值，注意datajson后面跟着的是键名，这个需要自己设定
				this.username_left = datajson.user_name;
//				this.avatar_left = datajson.user_avatar;
				this.username = datajson.user_name;
				this.user_email = datajson.user_email;
				this.phone = datajson.user_phone;
			})
		},
		methods:{
			update: function(){
				if(this.password_upda != this.password_upda_re){
					alert('两次输入密码不一致，请重试')
				}else{
					//这里的axios的post的地址需要你来改一下，注意注意！
					axios.post('http://localhost:8080/DeviceInfo',{
						post_code: 25,
						user_id:  this.$cookies.get('userid'),
						user_name: this.username_upda,
						password: this.password_upda,
						mail: this.useremail_upda,
						phone: this.phone_upda
					})
					.then(function (response) {
						
						var response_num = response.data
						//如果返回1就表示修改信息成功
						if(response_num == 1){
							alert('修改成功！');
							
							window.location.href = 'userpage_user_info.html';
						}else{
							alert('服务器错误！');
						}
					})
					.catch(function (error) {
						console.log(error)
					})
				}
			}
		}
		
	})
</script>

</html>